@media (max-width: 500px) {
  .corpo {
    width: 287px !important;
    flex-direction: column !important;
    height: 100px !important;

    .imagem {
      height: 56px !important;
      width: 100% !important;
      border-radius: 12px 12px 0px 0px !important;
    }
    .imagem-error {
      height: 56px !important;
      width: 100% !important;
      border-radius: 12px 12px 0px 0px !important;

    }

    .msgText {
      display: flex;
      align-items: center;
      background-color: transparent;
      border-radius: 0px 12px 0px 12px;
      width: 100%;

      h1 {
        width: 100%;
        text-align: center;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 400;
        line-height: 16px;
        text-align: center;
        margin-bottom: 0px;
        padding: 12px;
      }
    }
  }
}


::ng-deep .mdc-snackbar__surface {
  width: fit-content !important;
  height: fit-content !important;
  padding-right: 0px !important;
  border-radius: 12px !important;
  border: none !important;
}

::ng-deep .mat-mdc-snack-bar-container {
  width: fit-content;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  margin: 24px;
  min-height: 48px;
  transform-origin: center;
}
.col-12 {
  display: flex;
  height: 70px;
  width: 500px;
  border-radius: 12px;
  flex-direction: row;
  padding-right: 0px !important;
}

.imagem {
  width: 70px;
  height: 100%;
  background-color: #336D10;
  border-radius: 12px 0px 0px 12px;
  font-size: 2em;
  font-family: "Rubik Vinyl", serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem-warning {
  width: 70px;
  height: 100%;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #c9bd19;
  border-radius: 12px 0px 0px 12px;
}

.imagem-error {
  width: 70px;
  height: 100%;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #6D1010;
  border-radius: 12px 0px 0px 12px;
}

.mat-mdc-snack-bar-label {
  padding: 0px !important;
}

.iconsSnackebarSVG {
  margin: 0 5px -10px 10px;
  transform: scale(1.5);
}

.mat-mdc-snack-bar-label {
  padding: 0px !important;
}


.iconsSnackebarSVG {
  margin: 0 5px -10px 10px;
  transform: scale(1.5);
}

::ng-deep .mat-mdc-snack-bar-label {
  padding: 0px !important;
}

.msgText {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 0px 12px 0px 12px;

  h1 {
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-bottom: 0px;
    padding: 0px 30px;
  }
}

.successStyle {
  width: fit-content !important;
  height: fit-content !important;
}

.erroStyle {
  width: fit-content !important;
  height: fit-content !important;
}

.warningStyle {
  width: fit-content !important;
  height: fit-content !important;
}
